/*----------------------------------------
            Font-Face Section
---------------------------------------*/
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@font-face {
    font-family: 'Bebas Neue';
    src:url('../fonts/1638453898579_BebasNeue-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/1638453865398_BebasNeue-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/1638453893805_BebasNeue-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/1638453859802_BebasNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/1638453840335_BebasNeue-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


/*----------------------------------------
            Root Section
 ---------------------------------------*/
:root{
    --default-font: "Bebas Neue", "Poppins";
    --background-color: #FFFFFF;
    --accent-color: #9b0000;
    --contrast-color: #486284;
    --support-color: #90A4AE;
    --dark-color: #212121;
    --base-white-color: #F0F0F0;
    --stroke-color: #DDE1E6;
    --support-background-color: #F2F4F8;
    --deep-blue: #142E49;

    --color-heading: #9B0000;
    --color-subheading: #486284;
}

:root{
    --default-content-padding: 40px;
    --default-gap: 12px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a{
    height: auto;
    margin:0;
    transition: 0.3s;
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--default-font), sans-serif;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

button, button:active, button:focus { border:none; }

body {
    font-family: var(--default-font) "sans-serif";
    color: var(--accent-color);
    background-color: var(--background-color);
   /* line-height: 1.6; */
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

.page-width {
    width: 100%;
    margin: 0 auto;
    min-width: 320px;
    padding: 0 18px;
}

@media (min-width: 1024px) {
    .page-width {
        padding: 0 24px;
        max-width: 1096px
    }
}

.button{
    display: inline-block;
    width: 100%;
    height: 48px;
    border-radius: .75rem;
    background-color: var(--accent-color);
    padding: 12px;
    color: #fdfffd;
}

.button.text-button{
    color: var(--accent-color);
    background-color: transparent;
    border: none;
    padding: 0;
    width: auto;
    height: auto;
}
.button.text-button .button__content{
    justify-content: start;
    height: auto;
    width: auto;
}

.button span{
    display: block;
    font-family: var(--default-font), sans-serif;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 1px;
}

.button i{
    font-size: 16px;
}


.button__group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button__content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button__mobile__menu{
    display: block;
    width: 42px;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid var(--support-color);
    color: var(--contrast-color);
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.button__mobile__menu:focus,
.button__mobile__menu:active {
    border: 1px solid var(--support-color);
    outline: none;
}


@media(min-width: 1024px){
   .header .button__mobile__menu{
        display: none;
    }
}

@media(max-width: 600px){
    .header .button span{ display: none; }
    .header .button i{
        font-size: 24px;
    }
}

.content__item{
    display: flex;
    width:  max-content;
    /*align-items: center;*/
    color: var(--support-color);
    gap: 4px;
    max-width: 100%;
}

.content__item span{
    font-family: var(--default-font),sans-serif;
}

.content__item .days .times{
    margin-left: 4px;
    color: var(--contrast-color);
}

.content__item__content{
    display: flex;
    flex-direction: column !important;
    white-space: nowrap;
}

.section{
    background-color: var(--support-background-color);
    width: 100%;
    height: auto;
    padding-top: var(--default-content-padding);
    padding-bottom: var(--default-content-padding);
}

.section__content{
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(2,minmax(0, 1fr));
    column-gap: 20px;
}

.section__left{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    grid-column: 1/ span 3;
    grid-row: 1/span 2;
    gap: 20px;
}

.section__right{
    width: 100%;
    max-height: 100vh;
    align-self: center;
    justify-self: center;
    grid-column: 4/ span 3;
    grid-row: 1/span 2;
}

.section__right img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 100%;
}

.content__wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section.section-white{
    background-color: var(--background-color);
    border-top: 1px solid var(--stroke-color);
    border-bottom: 1px solid var(--stroke-color);
}

.section__left .button__group{
    justify-content: start;
    gap: 20px;
}

.section__content_title{
    font-family: var(--default-font), sans-serif;
    font-size: 44px;
    margin: 0;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1;
}

.section__content_text{
    font-family: var(--default-font), sans-serif;
    color: var(--contrast-color);
    font-size: 20px;
    margin: 0;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
}

@media(max-width: 1024px) {
    .section__content{
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
}

.partners__content.content__wrapper{
    gap: 5px;
    font-size: 22px;
}
.partners__content .section__content_text{
    text-indent: 20px;
    hyphens: auto;
    text-align: justify;
}
.partners__content .content__item{
    gap: var(--default-gap);
    color: var(--contrast-color);
    font-weight: bold;
    text-indent: 20px;
}
/*----------------------------------------
            Header Section
---------------------------------------*/
.header-container{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DDE1E6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 105;
    background-color: var(--background-color );
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.header-top{
    display: flex;
    align-items: center;
    background-color: #F2F4F8;
    justify-content: space-between;
    width: 100%;
    height: 52px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.phone__container{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.header-section{
    display:flex;
    height: 88px;
    align-items: center;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    height: 56px;
    gap: 8px;
}

.header__left img{
    width: auto;
    height: 100%;
    object-fit: contain;
}

.logo-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.logo-text-top,
.logo-text-bottom{
    display: block;
    color: var(--accent-color);
    font-family: var(--default-font), sans-serif;
    text-transform: uppercase;
    font-size: 31px;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 550;
    margin: 0;
    padding: 0;
}

.logo-text-bottom{ color: var(--support-color); }

.header__center{ display: none;}
.header__center nav{
    display: flex;
    gap: 24px;
}

.header__center nav>a{
    position: relative;
    font-family: var(--default-font), sans-serif;
    color: var(--contrast-color);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    padding-top: 4px;
    padding-bottom: 4px;
}

.header__center nav>a::after{
    content: "";
    position: absolute;
    background-color: #CED7E4;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.header__center nav .active{
    font-weight: 800;
}

.header__center nav .active::after{
    width: 100%;
    background-color: var(--contrast-color);
}

@media (hover:hover) {
    .header__center nav>a:hover::after{
        width: 100%;
    }
    .header__center nav>a:hover {
        color: #CED7E4;
    }

    .header__center nav .active:hover{
        color: var(--contrast-color);
        font-weight: 700;
    }
}

.header__right{
    margin-top: 2px;
    margin-left: auto;
}

@media(min-width: 1024px){
    .header__content{
        display: grid;
        grid-template-columns: repeat(9, minmax(0, 1fr));
        place-content: space-around;
    }

    .header__content .content__item{
        grid-column: span 2;
    }

    .phone__container{
        grid-column: 7 / span 3;
        justify-self: end;
        flex-direction: row;
        gap: 20px;
    }
    .header__left {
        grid-column: span 2 ;
    }

    .header__center{
        display: block;
        justify-self: center;
        align-self: center;
        grid-column: span 5;
    }

    .header__right {
       grid-column: span 2;
       justify-self: end;
       align-self: center;
    }
}

/*----------------------------------------
            Sitebar Section
---------------------------------------*/

.sidebar {
    position: fixed;
    top: 60px;
    right: -250px;
    width: 250px;
    height: calc(100vh);
    background-color: var(--background-color);
    border-left: 1px solid var(--support-color);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.3s ease;
    z-index: 104;
    overflow-y: auto;
}

.sidebar__nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--default-gap);
    margin-bottom: 24px;
}

.sidebar__nav>.content__item{
    color: var(--contrast-color);
    gap:10px;
    font-size: 18px;
}

.sidebar.active {right: 0;}

.sidebar__content .button .button__content span{
    display: block;
    margin-left: 6px;
    font-family: var(--default-font), sans-serif;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 1px;
}

.overlay {
    position: fixed;
    top: 60px;
    left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 103;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/*----------------------------------------
            Main Section
---------------------------------------*/
main{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 99;
    flex: 1 0 auto;
}

/*----------------------------------------
             Hero Section
---------------------------------------*/
.hero__section{
    display:inline-block;
    width: 100%;
    background-color: var(--support-background-color);
}

.hero__content{
    display: grid;
    padding-top: var(--default-content-padding);
    padding-bottom: var(--default-content-padding);
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(2,minmax(0, 1fr));
    column-gap: 20px;
}

.hero__left{
    height: 420px;
    width: 100%;
    align-self: center;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    grid-column: 1/ span 3;
    grid-row: 1/span 2;

}

.hero__right{
    height: 420px;       /* фиксированная высота */
    width: 100%;
    overflow: hidden;    /* обрезка выходит за пределы */
    position: relative;  /* чтобы вложенные абсолютные элементы правильно позиционировались */
    max-width: 100%;
    align-self: center;
    justify-self: center;
    padding: 12px;
    grid-column: 4/ span 3;
    grid-row: 1/span 2;
}

.hero__left .button{
    margin-top: unset;
}

.hero__right>img{
    width: 100%;
    height: 100%;
    object-fit: contain;   /* заполнит блок с сохранением пропорций, обрежет по необходимости */
    display: block;
}

.hero__left .button__group{
    justify-content: start;
    gap: 20px;
}

.hero__left .button{
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.button.button-sm{
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

#button_about{
    background-color: transparent;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
}
/*----------------------------------------
          Best Product Section
---------------------------------------*/
.production__section{
    background-color: var(--support-background-color);
    width: 100%;
    height: auto;
    padding-top: var(--default-content-padding);
    padding-bottom: var(--default-content-padding);
}

.production__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section__title {
    font-family: var(--default-font), sans-serif;
    color: var(--accent-color);
    font-size: 24px;
    font-weight: 550;
    letter-spacing: 1px;
    line-height: 1;
    margin: 0 0 10px;
}

.section__title p{ margin: 0 }

.production__content .button{ width: 200px}

.production__cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}
/*--------------------------------------
         Product card style
 -------------------------------------*/

.card__prod{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: auto;
    background-color: var(--background-color);
    border-radius: 16px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 12px;
}


.card__prod::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 4px solid var(--accent-color);
    border-left: 4px solid var(--accent-color);
    width: 80px;
    height: 100px;
    box-sizing: border-box;
    border-top-left-radius: 16px;
}

.card__prod::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 4px solid var(--accent-color);
    border-right: 4px solid var(--accent-color);
    width: 80px;
    height: 100px;
    box-sizing: border-box;
    border-bottom-right-radius: 16px;
}

.card__prod p{
    margin: 0;
    font-family: var(--default-font), sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: var(--support-color);
}

.card__prod .card__prod-title{
    font-weight: bold !important;
    font-size: 24px !important;
    text-align: center;
    margin-bottom: 12px;
    letter-spacing: 1px;
}

.card__prod-description{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 12px;
}

.card__prod .card__prod-item { font-weight: 700; }
.card__prod .card__prod-item i{ margin-right: 6px}
.card__prod .card__prod-item span{
    font-weight: 600;
    color: var(--contrast-color);
    margin-left: 6px;
}

.card__prod .card__prod-item-price{
    color: var(--contrast-color);
    font-weight: 900;
    font-size: 22px;
    margin-left: 4px;
}

.card__prod img{
    position: relative;
    width: 260px;
    height: auto;
    object-fit: contain;
    margin-bottom: 1px;
}

.card__content{
    position: relative;
    padding-top: 10px
}

.card__content::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
}

.production__content .button__group{margin-top: 10px}
/*----------------------------------------
            Service Section
---------------------------------------*/
.services__section {
    height: auto;
    width: 100%;
    padding-top: var(--default-content-padding);
    padding-bottom: var(--default-content-padding);
}

.services__content{
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    grid-template-rows: repeat(2,minmax(0, 1fr));
    column-gap: 100px;
    align-items: center;
}

.services__left{
    display: flex;
    flex-direction: column;
    gap: 4px;
    grid-column: 1/span 3;
    grid-row: 1/span 2;
}
.services__center{
    grid-column: 4/span 3;
    grid-row: 1/span 2;
    justify-self: center;
}

.services__right{
    grid-column: 7/span 3;
    grid-row: 1/span 2;
    justify-self: end;
}

.services__center > i,
.services__right > i{
 font-size: 48px;
}

.services__center, .services__right{
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

/*----------------------------------------
            About Section
---------------------------------------*/
.about__content .section__content_text{
    hyphens: auto;
    text-align: justify;
}
.about__left .section__content_text>span{
    display: block;
    text-indent: 20px;
    margin-bottom: 4px;
}

.about__content{
    padding-bottom: 12px;
    column-gap: 60px;
}

.about__right{
    width: 100%;
    overflow: hidden;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.about__right img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
/*----------------------------------------
           About-cards Section
---------------------------------------*/
.testimonials__content{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    gap: 26px;
}


.about__card{
    height:auto;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    gap: var(--default-gap);
    align-items: center;
}

.about__card .content__wrapper{
    gap: var(--default-gap);
    width:60%;

}
.about__card .section__content_text{
    font-size: 16px;
}
.about__card .section__content_title{
    font-size: 16px;
}

.about__card-icon{
    width: 100%; /* чтобы карточка занимала всю ширину колонки */
    max-width: 100px;
    height: 100px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* The same as your div height */
    font-size: 48px;
    background-color: transparent;
}

.about__card-icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 3px solid var(--accent-color);
    border-left: 3px solid var(--accent-color);
    width: 40px;
    height: 60px;
}

.about__card-icon::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 3px solid var(--accent-color);
    border-right: 3px solid var(--accent-color);
    width: 40px;
    height: 60px;
}
/*----------------------------------------
            Footer Section
---------------------------------------*/


.footer{
    width: 100%;
    background-color:var(--dark-color) ;
    flex-shrink: 0;
}

.footer__content {
    display: flex;
    flex-direction: column;
}

.footer__main{
    display: grid;
    position: relative;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(3,minmax(0, 1fr));
    grid-template-areas:
            "logo logo nav nav cont cont phone phone"
            "logo logo nav nav cont cont phone phone"
            "copyright copyright nav nav cont cont phone phone";
    padding-top: 24px;
    padding-bottom: 8px;
    z-index: 99;
}

.footer__main::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
    bottom: 0;
    left: 0;
}

.footer__navbar{
    grid-area: nav;
    justify-self: center;
}

.footer__navbar nav{
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
    font-family: var(--default-font), sans-serif;
    color: var(--base-white-color);
    letter-spacing: 1px;
}

.footer__contact{
    grid-area: cont;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer__contact .content__item{
    gap: 10px;
    color: var(--base-white-color);
    letter-spacing: 1px;
}


.footer__phone-contact{
    grid-area: phone;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer__phone-contact .content__item {
    letter-spacing: 1px;
    font-size: 22px;
    color: var(--base-white-color);
    font-weight: 300;
    gap: var(--default-gap);
}

.footer__phone-contact p{
    margin: 0;
    font-size: 20px;
    color: var(--base-white-color);
    font-weight: 700;
    font-family: var(--default-font), sans-serif;
    letter-spacing: 1px;
    line-height: 1;
}

.footer__contact .content__item .times{ color: 	var(--support-color)}

.footer__copyright{
    margin: 0;
    grid-area: copyright;
    font-family: var(--default-font), sans-serif;
    color: var(--base-white-color);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 1;
    align-self: end;
}

.dev__info{
    color: var(--base-white-color);
    font-family: var(--default-font), sans-serif;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 2px;
}


@media(max-width: 760px){
    .footer__main{
        display: flex;
        flex-direction: column;
        gap: 20px
    }

    .footer__main .footer__copyright{ align-self: normal; }
}


@media (max-width: 1024px) {
    .services__content{
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: start;
    }
}

@media (max-width: 700px) {
    .hero__content{
        display:flex;
        flex-direction: column;
        gap: 10px;
    }

    .hero__content .hero__left,
    .hero__content .hero__right{
        height: auto;

    }
}


/*----------------------------------------
            Moodal Window
---------------------------------------*/
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.active {
    display: flex;
}

.modal__content {
    background: #fff;
    padding: 20px 30px;
    border-radius: 6px;
    max-width: 400px;
    width: 90%;
    position: relative;
    box-shadow: 0 4px 15px rgba(0,0,0,0.25);
    min-height: 150px;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 26px;
    cursor: pointer;
    line-height: 1;
}

.modal__body{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal__phone-contact .content__item{
    display: flex;
    letter-spacing: 1px;
    font-size: 20px;
    color: var(--deep-blue);
    font-weight: 400;
    gap: 8px;
}

.modal__body p{
    margin: 0;
    font-size: 24px;
    color: var(--accent-color);
    font-weight: 700;
    font-family: var(--default-font), sans-serif;
    letter-spacing: 1px;
    line-height: 1;
}

#preloader{
    position:fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    top: 0; left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: none;
}

.progress-bar-container {
    width: 80%;
    max-width: 400px;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    margin-top: 20px;
}

#preloader div:first-child{
    color: var(--accent-color);
    font-weight: bold;
    font-family: var(--default-font), sans-serif;
    font-size: 20px;
}

.progress-bar{
    height: 100vh;
    width: 0;
    border-radius: 10px 0 0 10px;
    background-color: var(--accent-color);
    transition: width 0.3s ease;
}

#preloader.active {
    opacity: 1;
    pointer-events: auto;
}

#loading-text {
    font-family: var(--default-font), sans-serif;
    font-size: 18px;
    color: var(--accent-color);
    margin-top: 10px;
    margin-left: 10px;
}

#content {
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}


#content.visible {
    opacity: 1;
    pointer-events: auto;
}