DirectoryIndex index.php index.html

RewriteEngine on

RewriteBase /
RewriteCond %{HTTP:X-HTTPS} !1
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteRule ^$ /index.html [L]

RewriteCond %{THE_REQUEST} \s/page/([^/.]+)\.html [NC]
RewriteRule ^page/([^/.]+)\.html$ /$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/.]+)$ /page/$1.html [L]

ErrorDocument 404 /page/error.html